/background.png
/character.png
/circle.png
/data.txt
/data.zip
/enemy.png
/ex1.html
/ex10.html
/ex11.jsp
/ex2.html
/ex3.html
/ex4.html
/ex5.html
/ex6.html
/ex7.html
/ex8.html
/ex9.html
/exam.html
/exam.py
/fighter.png
/last1.html
/last2.html
/practice1.html
/practice2.html
/practice3.html
/practice4(Re).html
/practice5.html
/practice6.html
/practice7.html
/practice_last.jsp
/rock.png
/shoot_rock.py
/snow
/snow.py
/ss.ipynb
/x-mas.py
/__pycache__